@inherits LayoutComponentBase

<div class="page @GetCssClass()">
    <div class="sidebar">
        <NavMenu />


    </div>

    <main>
        <article class="content px-4" style="padding-top: 0px;">
            @Body
        </article>


        <div style="position: fixed; top: 20px; left: 20px; z-index: 1000;">
            <select @onchange="ChangingTheme" style="padding: 8px; border-radius: 20px; border: none; background-color: #9400D3; color: #fff; font-family: 'Arial', sans-serif; font-size: 16px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                @foreach (var theme in themes)
                {
                    <option selected="@IsSelectedTheme(theme)" value="@theme" style="background-color: #fff; color: #9400D3; font-weight: bold; border-bottom: 1px solid#9400D3;">@theme</option>
                }
            </select>
        </div>


    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code
{
    private string selectedTheme = "Light Theme";
    private List<string> themes = new List<string> { "Light Theme", "Dark Theme" };

    private string GetCssClass()
    {
        if(selectedTheme == "Light Theme")
        {
            return String.Empty;
        }
        else
        {
            return "dark-mode";
        }
    }

    private bool IsSelectedTheme(string theme)
    {
        return theme == selectedTheme;
    } 

    private void ChangingTheme (ChangeEventArgs e)
    {
        selectedTheme = e.Value.ToString();
    }
}
