@using BlazorApp.Authentication
@using Microsoft.AspNetCore.Components.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider authStateProvider
@inject NavigationManager navManager

<div class="page @GetCssClass()">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <article class="content px-4" style="padding-top: 0px;">
            @Body
        </article>
        <div style="position: fixed; top: 70px; left: 20px; z-index: 1000;">
            <button @onclick="ToggleTheme" style="padding: 8px; border-radius: 20px; border: none; background-color: @(isDarkMode ? "#2d2d2d" : "#E9DCC9"); color: @(isDarkMode ? "#fff" : "#000"); font-size: 10px; box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);">
                @GetButtonText()
            </button>
        </div>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code
{
    private bool isDarkMode = false;

    private string GetCssClass()
    {
        return isDarkMode ? "dark-mode" : "";
    }

    private string GetButtonText()
    {
        return isDarkMode ? "Dark Mode" : "Light Mode";
    }

    private void ToggleTheme()
    {
        isDarkMode = !isDarkMode;
    }
}