@inherits LayoutComponentBase

<div class="page @GetCssClass()">
    <div class="sidebar">
        <NavMenu />


    </div>

    <main>
        <article class="content px-4" style="padding-top: 0px;">
            @Body
        </article>

        Theme

        <select @onchange="ChangingTheme" style="margin-left: 1rem">
            @foreach (var theme in themes)
            {
                <option selected="@IsSelectedTheme(theme)" value="@theme">@theme</option>
            }

        </select>

    </main>
</div>


<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>


@code
{
    private string selectedTheme = "Light";
    private List<string> themes = new List<string> { "Light", "Dark" };

    private string GetCssClass()
    {
        if(selectedTheme == "Light")
        {
            return String.Empty;
        }
        else
        {
            return "dark-mode";
        }
    }

    private bool IsSelectedTheme(string theme)
    {
        return theme == selectedTheme;
    } 

    private void ChangingTheme (ChangeEventArgs e)
    {
        selectedTheme = e.Value.ToString();
    }
}
