@page "/createlisting"
@using Npgsql
@using System.Drawing

<PageTitle>Create Listing</PageTitle>



<!--<h4 style ="color: white;">Create Listing</h4>

<select @bind="Brand">
    <option value="">Select a Brand</option>
    <option value="Sony">Sony</option>
    <option value="Bose">Bose</option>
    <option value="JBL">JBL</option>
</select>

<br />
<br />

<select @bind="Model">
    <option value="S1">Select a Model</option>
    <option value="S2">S1</option>
    <option value="S3">S2</option>
    <option value="Other">Other</option>
</select>

<br />
<br />

<select @bind="Color">
    <option value="">Select a Color..</option>
    <option value="Red">Red</option>
    <option value="Rlue">Blue</option>
    <option value="Other">Other</option>
</select>

<br />
<br />

<select @bind="FrequencyRange">
    <option value="">Select a Frequency Range</option>
    <option value="20-20000hz">20-20000hz</option>
    <option value="10-50000hz">10-50000hz</option>
    <option value="Other">Other</option>
</select>

<br />
<br />

<label style="color: white;">
    <input type="checkbox" @bind="Microphone" />
    Microphone
</label>

<br />
<br />

<select @bind="TypeOfConnection">
    <option value="">Select a Type of Connection</option>
    <option value="WiredHeadphones">WiredHeadphones</option>
    <option value="BluetoothHeadphones">BluetoothHeadphones</option>
</select>

<br />
<br />

<label style="color: white;">
    <input type="checkbox" @bind="NoiseCancellation" />
    Noise Cancellation
</label>

<br />
<br />

<select @bind="ClosedOrOpen">
    <option value="">Select Closed or Open</option>
    <option value="open">Open</option>
    <option value="closed">Closed</option>
</select>

<br />
<br />

<select @bind="ItemCondition">
    <option value="">Select Item Condition</option>
    <option value="good">Good</option>
    <option value="bad">Bad</option>
</select>

<br />
<br />

<label style="color: white;">
    <input type="text" @bind="Price" placeholder="Provide the price in USD..." />
    Price
</label>

<br />
<br />

<label style="color: white;">
    <input type="text" @bind="ImageUrl" placeholder="upload images..." />
    ImageUrl
</label>

<br />
<br />

<select @bind="Type">
    <option value="">Select a type</option>
    <option value="WiredHeadphones">WiredHeadphones</option>
    <option value="BluetoothHeadphones">BluetoothHeadphones</option>
</select>

<br />
<br />

<button @onclick="Submit">Submit</button>

<br /> <br />-->


<div class="page-container">
    <div class="create-listing-container">
        <h3 class="create-listing-title">CREATE LISTING</h3>

        <div class="create-listing-attributes-container">

            <div class="attributes-container">

                <div class="upload-image-section">
                    <h5>UPLOAD IMAGE</h5>
                </div>

                <div class="price-section">
                    <h5>PRICE</h5>
                    <input type="text" @bind="Price" placeholder="Price here" />
                </div>

                <div class="brand-section">
                    <h5>BRAND</h5>
                </div>

                <div class="model-section">
                    <h5>MODEL</h5>
                </div>

                <div class="frequency-range-section">
                    <h5>FREQUENCY RANGE</h5>
                </div>

                <div class="connection-type-section">
                    <h5>CONNECTION TYPE</h5>
                </div>

                <div class="color-section">
                    <h5>COLOR</h5>
                </div>

                <div class="noise-cancellation-section">
                    <h5>NOISE CANCELLATION</h5>
                </div>

                <div class="closed-or-open-section">
                    <h5>CLOSED OR OPEN</h5>
                </div>

                <div class="condition-section">
                    <h5>CONDITION</h5>
                </div>

                <div class="description-section">
                    <h5>DESCRIPTION</h5>
                </div>

            </div>
            
        </div>

    </div>



    <div class="preview-listing-container">
        <h3 class="preview-listing-title">PREVIEW</h3>
        <p>@Price</p>
    </div>
</div>



















@code {
    private string? Brand { get; set; }
    private string? Model { get; set; }
    private string? Color { get; set; }
    private string? FrequencyRange { get; set; }
    private bool? Microphone { get; set; }
    private string? TypeOfConnection { get; set; }
    private bool? NoiseCancellation { get; set; }
    private string? ClosedOrOpen { get; set; }
    private string? ItemCondition { get; set; }
    private int? Price { get; set; }
    private string? ImageUrl { get; set; }
    private string? Type { get; set; }

    private void Submit()
    {
        string connectionString = "Host=ep-blue-fire-a2nnh5p7.eu-central-1.aws.neon.tech;Username=sonaredb_owner;Password=8LlUVraRtDs9;Database=sonaredb;SSL Mode=Require";
        using var connection = new NpgsqlConnection(connectionString);
        connection.Open();
        using (var cmd = new NpgsqlCommand())
        {
            cmd.Connection = connection;

            cmd.CommandText = @"
            INSERT INTO Headsets(Brand, Model, Color, FrequencyRange, Microphone, TypeOfConnection, NoiseCancellation, ClosedOrOpen, ItemCondition, Price, ImageUrl, Type)
            VALUES(@Brand, @Model, @Color, @FrequencyRange, @Microphone, @TypeOfConnection, @NoiseCancellation, @ClosedOrOpen, @ItemCondition, @Price, @ImageUrl, @Type);";

            cmd.Parameters.AddWithValue("Brand", Brand ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Model", Model ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Color", Color ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("FrequencyRange", FrequencyRange ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Microphone", Microphone ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("TypeOfConnection", TypeOfConnection ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("NoiseCancellation", NoiseCancellation ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("ClosedOrOpen", ClosedOrOpen ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("ItemCondition", ItemCondition ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Price", Price ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("ImageUrl", ImageUrl ?? (object)DBNull.Value);
            cmd.Parameters.AddWithValue("Type", Type ?? (object)DBNull.Value);

            cmd.ExecuteNonQuery();
        }
    }
}