.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    grid-gap: 3em;
}

.create-listing-container {
    grid-row-start: 1;
    width: 70em;
}

.preview-listing-container {
    grid-row-end: 2;
    width: 25em;
}

.create-listing-container, .preview-listing-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 2em;
    height: 95vh;
    padding: 1.5em;
}

.create-listing-title, .preview-listing-title {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.75em;
}

.create-listing-attributes-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-radius: 2em;
}

.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.attributes-container div {
    background-color: rgb(220, 220, 220);
    border-radius: 2em;
}

.upload-image-section {
    height: 15%;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.price-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 20%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.price-section input {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid rgba(168, 30, 217, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    color: black;
}

.price-section input:focus {
    border: 2px solid rgba(168, 30, 217, 1);
    color: black;
}

.brand-section {
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.model-section {
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.frequency-range-section {
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.connection-type-section {
    height: 6%;
    width: 55%;
    margin-bottom: 0.5em;
    padding: 0.75em;
    align-self: center;
}

.color-section {
    height: 6%;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.noise-cancellation-section {
    height: 6%;
    width: 47.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.closed-or-open-section {
    height: 6%;
    width: 47.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.condition-section {
    height: 12%;
    width: 100%;
    margin-bottom: calc(0.5em + 1%);
    padding: 0.75em;
}

.description-section {
    height: 30%;
    width: 100%;
    padding: 0.75em;
}

h5 {
    font-weight: bold;
}