.page-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    grid-gap: 3em;
}

.create-listing-container {
    grid-row-start: 1;
    width: 70em;
}

.preview-listing-container {
    grid-row-end: 2;
    width: 25em;
}

.create-listing-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 2em;
    height: 95vh;
    padding: 1.5em;
}

.create-listing-title, .preview-listing-title {
    color: black;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.75em;
}

.create-listing-attributes-container {
    flex-grow: 1;
    height: 100%;
    width: 100%;
    border-radius: 2em;
}

.attributes-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.attributes-container div {
    background-color: rgb(220, 220, 220);
    border-radius: 2em;
}

.upload-image-section {
    height: 15%;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.price-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 20%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.price-section input {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: 2px solid rgba(168, 30, 217, 0);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
}

.price-section input:focus {
    border: 2px solid rgba(168, 30, 217, 1);
}

.brand-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.brand-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.model-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.model-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.frequency-range-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 37.5%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.frequency-range-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.noise-cancellation-section {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 30%;
    margin-bottom: 0.5em;
    padding: 0.75em;
    align-self: center;
}

.noise-cancellation-section input {
    flex-grow: 1;
    height: 100%;
    width: auto;
    cursor: pointer;
}

.microphone-section {
    display: flex;
    flex-direction: row;
    height: 6%;
    width: 30%;
    margin-bottom: 0.5em;
    padding: 0.75em;
    align-self: center;
}

.microphone-section input {
    flex-grow: 1;
    height: 100%;
    width: auto;
    cursor: pointer;
}

.color-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 20%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.color-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}


.connection-type-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 25%;
    margin-bottom: 0.5em;
    padding: 0.75em;
    align-self: center;
}

.connection-type-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.closed-or-open-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 25%;
    margin-bottom: 0.5em;
    padding: 0.75em;
}

.closed-or-open-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.condition-section {
    display: flex;
    flex-direction: column;
    height: 12%;
    width: 20%;
    margin-bottom: calc(0.5em + 1%);
    padding: 0.75em;
}

.condition-section select {
    flex-grow: 1;
    border: none;
    border-radius: 2em;
    padding-left: 0.5em;
    outline: none;
}

.description-section {
    display: flex;
    flex-direction: row;
    height: 35%;
    width: 100%;
    padding: 0.75em;
    margin-top: 5%;
}

h5 {
    font-weight: bold;
    user-select: none;
}

h3 {
    user-select: none;
}

.preview-listing-container {
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 2em;
    height: 95vh;
    padding: 1.5em;
}

.preview-listing-attributes-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.publish-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 7.5%;
}

.publish-button {
    background-color: rgb(168, 30, 217);
    border-radius: 5em;
    width: 100%;
    height: 100%;
    border: none;
    font-weight: bold;
    font-size: 2em;
    letter-spacing: 0.2em;
    color: white;
    -webkit-filter: drop-shadow(0px 0px 7.5px rgb(168, 30, 217));
}

.preview-attributes {
    text-align: center;
    width: 20em;
}

.preview-picture {
    background-color: rgba(112, 112, 112, 0.175);
    aspect-ratio: 1 / 1;
    width: 68%;
    margin: 0 auto;
}

.picture-carousel {
    display: flex;
    justify-content: center;
    margin: 6%;
    justify-content: space-evenly
}

.back-button, .next-button {
    border: none;
    border-radius: 5em;
    background-color: rgb(168, 30, 217);
    color: white;
    font-weight: bold;
}

.card-seperator {
    display: block;
    background-color: rgba(112, 112, 112, 0.5);
    height: .2rem;
    width: 30%;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: auto;
    margin-right: auto;
}

.preview-price-text {
    margin-bottom: 5%;
}

.preview-brand-text {
    font-weight: 700;
}

.preview-model-text {
    font-weight: 500;
}

.preview-text-attributes-flex {
    display: flex;
    flex-direction: column;
    height: 15em;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
}

.preview-color-section, .preview-frequency-range-section, .preview-microphone-section, .preview-connection-type-section, .preview-noise-cancellation-section, .preview-closed-or-open-section, .preview-condition-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.preview-color-section p, .preview-frequency-range-section p, .preview-microphone-section p, .preview-connection-type-section p, .preview-noise-cancellation-section p, .preview-closed-or-open-section p, .preview-condition-section p {
    margin-bottom: 0.4em;
}
