@page "/products"
@inject List<Headset> allProducts

<PageTitle>Products</PageTitle>

<input @bind="SearchTerm" class="form-control" placeholder="Search by brand, model, color, price etc..." />

<button class="btn btn-primary" @onclick="FilterAndUpdateHeadsets">Search</button>

<br />
<br />

@if (ProductToShow == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="grid-container">
        @foreach (var headset in ProductToShow)
        {
            int productId = headset.id;
            <div class="card" style="width: 18rem;">
                <img src="@headset.imageUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@headset.brand</h5>
                    <h5 class="card-model-text">@headset.model</h5>
                    <div class="card-separator"></div>
                    <p class="card-text" style="text-align: center;">
                        PRICE: <span style="font-weight: bold;">$@headset.price</span> <br/>
                    </p>

                    @if (!string.IsNullOrEmpty(headset.description))
                    {
                        <p class="card-description">@headset.description</p>
                    }

                    <div class="center-button-class">
                        <a href="product/@productId" class="btn btn-primary">Show Product</a>
                    </div>
                </div>
            </div>
        }
    </div>
}

@code {
    public string SearchTerm { get; set; } = "";
    public List<Headset> ProductToShow; //List that will be displayed after filtering

    protected override void OnInitialized() //intializing ProductToShow with allProducts injected into it
    {
        ProductToShow = allProducts;
    }

    public void FilterAndUpdateHeadsets()
    {
        ProductToShow = FilterBrand(allProducts, SearchTerm.ToLower()); //Updates productsToShow based on searchterms
    }

    public List<Headset> FilterBrand(List<Headset> allProducts, string searchTerm)  //Filtering the products with the two parameters
    {
        List<Headset> filteredProducts = new List<Headset>(); // Create list to hold the filtered products

        if (!string.IsNullOrEmpty(searchTerm))
        {
            string[] searchKeywords = searchTerm.Split(' '); //If search term is not empty split by white space

            foreach (var product in allProducts)
            {
                bool matchesAllKeywords = true; //Each product is set to true

                foreach (var keyword in searchKeywords)
                {
                    string lowerKeyword = keyword.ToLower(); //Iterates over each keyword in search terms and checks for a match

                    if (!(product.brand?.ToLower().Contains(lowerKeyword) ?? false) && //"?" Safe navigation avoid null exception, "??" return false if null, "!" set to true if not a match
                        !(product.model?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.color?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.frequencyRange?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.typeOfConnection?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.closedOrOpen?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.itemCondition?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !(product.description?.ToLower().Contains(lowerKeyword) ?? false) &&
                        !product.price.ToString().Contains(keyword)) // Dont need "??" cause won't return null
                    {
                        matchesAllKeywords = false; //To remain true all brand, model.. etc. must be false
                        break;
                    }
                }

                if (matchesAllKeywords)
                {
                    filteredProducts.Add(product); //If all keywords match product is added to list
                }
            }
        }
        else
        {
            filteredProducts = allProducts;
        }

        return filteredProducts;//Showing all products by default
    }
}