@page "/product/{productId}"
@inject List<Headset> allProducts

<PageTitle>Product @ProductToShow.brand</PageTitle>
<div class="card" style="width: 18rem;">
        <img src="https://media.karousell.com/media/photos/products/2022/7/15/bose_quietcomfort_35_ii_1657861536_6fbc5e2d_progressive.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

@code {
    [Parameter]
    public string productId { get; set; }

    public Headset ProductToShow;

    protected override void OnInitialized()
    {
        ProductToShow = allProducts[int.Parse(productId)];
    }
}
